.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #3d63ab;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 70%;
    padding: 0 20px;
}

.logo-bancos {
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 30%;
    width: 20px;
    gap: 20px;
    
}

.texto {
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

.linkfooter {
    color: white;
    text-decoration: none;
}

